<section class="section section--wide">
	<div class="section__content">
		<h1 class="padding--bottom-large">{{ Model.ContentItem | display_text }}</h1>

		{{ Model.Content | shape_render }}
	</div>
</section>