@model OrchardCore.Taxonomies.ViewModels.DisplayTaxonomyFieldViewModel

<hr class="margin--bottom-large margin--top-large">

@if (Model.TermContentItemIds.Length > 0) {
    <ul class="list list--horizontal-spaced">
        <li>
            <strong>@T["Tags:"]</strong>
        </li>

        @foreach (var contentItemId in Model.TermContentItemIds)
        {
            var term = await Orchard.GetTaxonomyTermAsync(Model.TaxonomyContentItemId, contentItemId);

            <li>
                <a href="#">@term</a>
            </li>
        }
    </ul>
}