{% assign contentItems = Model.ContentItemIds | content_item_id %}
{% assign count = Model.ContentItemIds | size %}

{% if count > 0 %}
<section class="section">
    <div class="section__content constrain">
        <h3 class="heading">{{ "Further reading" | t }}</h3>

        <div class="content-feed">
            <div class="content-feed__list content-feed__list--two-cols columns--two">
                {% for item in contentItems %}
                    <div class="content-feed__item">
                        {{ item | shape_build_display: "Summary" | shape_render }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}