{% assign contentItems = Model.ContentItemIds | content_item_id %}

<section class="section section--wide padding--top-large">
    <div class="section__content">
        <h3 class="padding--bottom-large">{{ "Further reading" | t }}</h3>

        <ul class="grid">
        {% for item in contentItems %}
            <li class="grid__item">
                {{ item | shape_build_display: "Summary" | shape_render }}
            </li>
        {% endfor %}
        </ul>
    </div>
</section>