{% assign tags = Model.Field | taxonomy_terms %}

<hr>

{% if tags.size > 0 %}
    <section class="section">
        <div class="section__content constrain">
            <strong>{{ "Tags:" | t }}</strong>
            <ul class="list-reset">
                {% for tag in tags %}
                    <li class="display--inline-block margin--right-small">
                        <a href="{{ tag.ContentItem | display_url }}">{{ tag | display_text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}